.guests__home {
  @include flex-direction(row, space-between);
  align-items: flex-start;
  gap: 20px;

    &-item {
      flex: 1;
      border: 1px solid rgba(211, 211, 211, 0.25);
      @include flex-direction(column, flex-start);
      align-items: flex-start;
      gap: 7px;

      &-img {
        height: 170px;
        width: 100%;
      }

      h2 {
        font-size: 18px;
      }

      .guest-city {
        font-size: 18px;
      }

      .guest-city {
        color: grey;
        font-size: 17px;
      }

      .guest-rating {
        @include flex-direction(row, flex-start);
        gap: 10px;


        span {
          background: $color-primary;
          color: #fff;
          padding: 4px;
        }
      }

    }

}