.property__list {
  @include flex-direction(row, space-between);
  width: 100%;
  gap: 10px;

  &-item {
    flex: 1;
    overflow: hidden;
    border-radius: 3px;

    .property-image {
      width: 100%;
      height: 170px;
      object-fit: cover;
    }

    .property-titles {
      margin-top: 3px;
      h2 {
        font-size: 18px;
      }

      span {
        font-size: 14px;
      }
    }

  }
}